body {
  background: #fff;
  font-family: "Comfortaa", sans-serif;
  position: relative;
}

* {
  box-sizing: border-box;
}

.main-content {
  text-align: center;
  text-transform: uppercase;
  scroll-snap-type: y mandatory;
  position: relative;
  height: 100vh;
  overflow-y: scroll;
}

.hover,
.word,
h1 {
  cursor: pointer;
}

h1 {
  position: relative;
  color: #fff;
  font: 900 60px Montserrat;
  text-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
}

.concept {
  position: relative;
  padding: 5em;
  height: 100vh;
  overflow: hidden;
  scroll-snap-align: center;
}
.concept:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: radial-gradient(rgba(0, 0, 0, 0.3), transparent);
  opacity: 0;
  transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
}
.concept:hover:before {
  opacity: 0.5;
}
.concept-seven {
    background: rgb(230, 216, 99);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .concept-seven h1 {
    letter-spacing: 35px;
    position: relative;
  }
  .concept-seven h1:before {
    content: "fries";
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    max-width: 400px;
    color: transparent;
    letter-spacing: 10px;
    text-shadow: none;
  }
  .concept-seven:hover h1:before {
    transition: 0.6s ease;
    color: rgba(255, 255, 255, 0.8);
    animation: jump-out 0.6s ease forwards;
  }