body {
    display: grid;
    place-content: center;
    height: 100vh;
    background: #ECEFF1;
  }
  
  .toggle {
    display: flex;
  }
  @media screen and (max-width: 700px) {
    .toggle {
      flex-direction: column;
    }
  }
  .toggle input {
    display: none;
  }
  .toggle input#toggle-1:checked ~ .label-1 {
    width: 120px;
  }
  @media screen and (max-width: 700px) {
    .toggle input#toggle-1:checked ~ .label-1 {
      height: 120px;
      width: auto;
    }
  }
  .toggle input#toggle-2:checked ~ .label-2 {
    width: 120px;
  }
  @media screen and (max-width: 700px) {
    .toggle input#toggle-2:checked ~ .label-2 {
      height: 120px;
      width: auto;
    }
  }
  .toggle input#toggle-3:checked ~ .label-3 {
    width: 120px;
  }
  @media screen and (max-width: 700px) {
    .toggle input#toggle-3:checked ~ .label-3 {
      height: 120px;
      width: auto;
    }
  }
  .toggle input#toggle-4:checked ~ .label-4 {
    width: 120px;
  }
  @media screen and (max-width: 700px) {
    .toggle input#toggle-4:checked ~ .label-4 {
      height: 120px;
      width: auto;
    }
  }
  .toggle input#toggle-5:checked ~ .label-5 {
    width: 120px;
  }
  @media screen and (max-width: 700px) {
    .toggle input#toggle-5:checked ~ .label-5 {
      height: 120px;
      width: auto;
    }
  }
  .toggle label {
    width: 80px;
    height: 25px;
    margin: 0 20px;
    border-radius: 999px;
    background: #FF6f61;
    cursor: pointer;
    box-shadow: 0 5px 5px -5px rgba(255, 111, 97, 0.15), 0 10px 10px -5px rgba(255, 111, 97, 0.15), 0 15px 15px -5px rgba(255, 111, 97, 0.15), 0 20px 20px -5px rgba(255, 111, 97, 0.15);
    transition: 0.25s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    padding: 10px;
  }
  @media screen and (max-width: 700px) {
    .toggle label {
      width: 25px;
      height: 60px;
      margin: 20px 0;
    }
  }  